/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* CSS START */

* {
    font-family: 'Poppins', sans-serif !important;
}

.admin-login {
    display: flex;
    height: 100vh;
}

.admin-login-left, .admin-login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.admin-login-left {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.admin-login-right {
    background: url('../assets/kıbrısautokapak.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}

.admin-login-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Karartma efekti */
    z-index: 1;
}

.info-container {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 400px;
    color: white;
    
    padding: 2rem;
    border-radius: 8px;
}

.info-container h2 {
    font-size: 32px; /* Yazı büyüklüğü */
    margin-bottom: 20px;
    color: white; /* Yazı rengini beyaz yap */
}

.info-container p {
    font-size: 18px; /* Yazı büyüklüğü */
}

.login-form-container {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.admin-login-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.admin-login h2 {
    margin-bottom: 20px;
    color: #333;
}

.admin-login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.admin-login button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.admin-login button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-bottom: 20px;
}
